@import '../../scss/_functions.scss';
@import '../../scss/text.scss';

.list-item__text-name {
  @extend .text;
  // font-weight: bold;
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px;
  // @include makeClass(min-width, 15px);
  @include makeClass(font-size, 13px);
  @include makeClass(line-height, 26px);
  @include makeClass(margin-left, 6px);
}

.list-item__text_count {
  @extend .text;

  font-weight: bold;
  @include makeClass(font-size, 13px);
  @include makeClass(line-height, 15px);
  @include makeClass(margin-right, 40px);
}

.bg {
  background: #ACE2F8;
  border-radius: 0px 3px 3px 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  @include makeClass(height, 24px);
}