@function vw($pix) {
  @return ($pix/489px)*100vw;
}

@function per($pix) {
  @return ($pix/489px)*100;
}

@function fun($pix, $value) {
  @return (per($pix)/100)*$value;
}

@function mini($pix, $value: 360px) {
  @return fun($pix, $value);
}

@function maxi($pix, $value: 720px) {
  @return fun($pix, $value);
}

.App {
  position: relative;
  min-width: 360px;
  max-width: 720px;
  width: 720px;
  background-color: #FFFFFF;

  // @media screen and (min-width:0px) and (max-width: 720px) {
  //   padding: 4.09vw;
  // }

  // @media screen and (min-width: 721px) {
  //   padding: 30px
  // }

  $pix: 20px;

  @media screen and (max-width: 359px) {
    padding: mini($pix);
  }

  @media screen and (min-width:360px) and (max-width: 720px) {
    padding: vw($pix);
  }

  @media screen and (min-width: 721px) {
    padding: maxi($pix);
  }
}