@function vw($pix) {
  @return ($pix/489px)*100vw;
}

@function per($pix) {
  @return ($pix/489px)*100;
}

@function fun($pix, $value) {
  @return (per($pix)/100)*$value;
}

@function mini($pix, $value: 360px) {
  @return fun($pix, $value);
}

@function maxi($pix, $value: 720px) {
  @return fun($pix, $value);
}
.margin-top-7 {
  $pix: 7px;

  @media screen and (max-width: 360px) {
    margin-top: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-top: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-top: maxi($pix);
  }
}

.margin-top-10 {
  $pix: 10px;

  @media screen and (max-width: 360px) {
    margin-top: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-top: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-top: maxi($pix);
  }
}

.margin-top-12 {
  $pix: 12px;

  @media screen and (max-width: 360px) {
    margin-top: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-top: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-top: maxi($pix);
  }
}

.margin-top-13 {
  $pix: 13px;

  @media screen and (max-width: 360px) {
    margin-top: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-top: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-top: maxi($pix);
  }
}

.margin-bottom-9 {
  $pix: 9px;

  @media screen and (max-width: 360px) {
    margin-bottom: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-bottom: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-bottom: maxi($pix);
  }
}

.margin-bottom-10 {
  $pix: 10px;

  @media screen and (max-width: 360px) {
    margin-bottom: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-bottom: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-bottom: maxi($pix);
  }
}

.margin-left-6 {
  $pix: 6px;

  @media screen and (max-width: 360px) {
    margin-left: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-left: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-left: maxi($pix);
  }
}

.margin-left-17 {
  $pix: 17px;

  @media screen and (max-width: 360px) {
    margin-left: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-left: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-left: maxi($pix);
  }
}

.margin-left-30 {
  $pix: 30px;

  @media screen and (max-width: 360px) {
    margin-left: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-left: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-left: maxi($pix);
  }
}

.margin-left-45 {
  $pix: 45px;

  @media screen and (max-width: 360px) {
    margin-left: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-left: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-left: maxi($pix);
  }
}

.margin-left-85 {
  $pix: 85px;

  @media screen and (max-width: 360px) {
    margin-left: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-left: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-left: maxi($pix);
  }
}

.margin-left-130 {
  $pix: 130px;

  @media screen and (max-width: 360px) {
    margin-left: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-left: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-left: maxi($pix);
  }
}

.margin-right-30 {
  $pix: 30px;

  @media screen and (max-width: 360px) {
    margin-right: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-right: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-right: maxi($pix);
  }
}

.margin-right-40 {
  $pix: 40px;

  @media screen and (max-width: 360px) {
    margin-right: mini($pix);
  }

  @media screen and (min-width:361px) and (max-width: 720px) {
    margin-right: vw($pix);
  }

  @media screen and (min-width: 721px) {
    margin-right: maxi($pix);
  }
}